<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles2.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caravan</title>
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">
                <h1>Caravan</h1>
            </a>
            
            <div class="nav-controls">
                <div class="deck-selector">
                    <label for="deck-options">Choose a Deck:</label>
                    <select id="deck-options"></select>
                    <button id="useDeck">Use Deck</button>
                </div>
                
                <button id="createGameButton">Create Game</button>
                
                {% if 'username' not in session %}
                <a href="{{ url_for('login') }}">
                    <button id="login">Login</button>
                </a>
                <a href="{{ url_for('register') }}">
                    <button id="register">Register</button>
                </a>
                {% endif %}

                {% if 'username' in session %}
                <a href="{{ url_for('decks') }}">
                    <button id="decks">Decks</button>
                </a>
                <a href="{{ url_for('logout') }}">
                    <button id="logout">Logout</button>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- <footer>
        <p>© RedTPC All Rights Reserved.</p>
    </footer> -->

    <!-- Socket.IO client -->
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <!-- Link to the external JavaScript -->
    <script src="/static/javascript/app.js"></script>

</body>
</html>
