{% extends "base.html" %}

{% block content %}
<!-- <link rel="stylesheet" href="/styles/decks.css"> -->

<body>
    <h2>Decks</h2>
    <div class="deck-container">
        {% for i in range(0, 30) %}
        <div class="deck-card-slot" id="deck-card-slot-{{ i }}" data-slot="{{ i }}">
        </div>
        {% endfor %}
    </div>

    <div class="deck-scroll-container">
        {% for i in deck %}
        <div class="deck-card-option" id="deck-card-option-{{ i }}" data-card="{{ i }}">{{ i }}</div>
        {% endfor %}
    </div>

    <button id="saveDeckButton">Save Deck</button>

</body>

{% endblock %}